@keyframes menu_go {
  from {width: 0px;}
  to {width: 290px;}
}

@keyframes menu_go_a {
  from {width: 290px;}
  to {width: 0px;}
}

@-webkit-keyframes menu_go {
  from {width: 0px;}
  to {width: 290px;}
}

@-webkit-keyframes menu_go_a {
  from {width: 290px;}
  to {width: 0px;}
}

@keyframes go_close_bg {
	from {background-color: rgba(0,0,0,0.1);}
  to {background-color: rgba(0,0,0,0.5);}
}