html::-webkit-scrollbar {
    display: none !important;
}

body{
	width: 100%;
	height: 100vh;
	font-family: Arial;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	background-color: white;
}

/* wix */
.mlsxv{
	display: none;
}

.top_header_bg{
	width: 100%;
	height: 12vh;
	background-color: #6636cc;
	float: left;
	user-select: none;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 999;
}

.top_header_bg_in_1{
	width: 96%;
	margin-left: 2%;
	max-width: 1400px;
	margin-top: 4.25vh;
	color: white;
	font-size: 3.2vh;
	text-align: center;
	display: none;
}

.top_header_bg_in_2{
	width: 96%;
	margin-left: 2%;
	max-width: 1400px;
	margin-top: 4.25vh;
	color: white;
	font-size: 3.5vh;
	text-align: left;
}

.scroll_div{
	width: 100%;
	height: 100vh;
	float: left;
	overflow: scroll;
}

.banner{
	width: 100%;
	height: 88vh;
	margin-top: 12vh;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	z-index: 1;
}

.banner_in1{
	width: 100%;
	height: 88vh;
	float: left;
	background-color: rgba(0,0,0,0.2);
}

.banner_in{
	width: 60%;
	margin-top: 20vh;
	font-size: 7vh;
	color: white;
	text-align: center;
}

.title_1{
	width: 80%;
	margin-top: 10vh;
	margin-left: 10%;
	margin-bottom: 3vh;
	float: left;
	text-align: left;
	color: black;
	font-size: 5vh;
}

.title_1_bottom{
	width: 80%;
	margin-left: 10%;
	margin-bottom: 4vh;
	float: left;
	text-align: left;
	color: black;
	font-size: 2.8vh;
}

.title_img{
	width: 42vh;
	height: 42vh;
}

.title_img_2{
	width: 100%;
	height: 42vh;
}

.photo_animation_1{
	width: 76%;
	max-width: 393px;
	height: 42vh;
	margin-left: 10%;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	animation: 14s photo_auto_change_1 infinite;
	-webkit-animation: 14s photo_auto_change_1 infinite;
	float: left;
}

.photo_animation_2{
	width: 76%;
	max-width: 393px;
	height: 42vh;
	margin-left: 10%;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	animation: 14s photo_auto_change_2 infinite;
	-webkit-animation: 14s photo_auto_change_2 infinite;
	float: left;
}

.photo_animation_3{
	width: 76%;
	max-width: 393px;
	height: 42vh;
	margin-left: 10%;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	animation: 14s photo_auto_change_3 infinite;
	-webkit-animation: 14s photo_auto_change_3 infinite;
	float: left;
}

.scroll_x_button{
	width: 12%;
	height: 42vh;
	float: left;
	z-index: 2;
}

.scroll_x_button_in_1{
	width: 90%;
	max-width: 50px;
	height: 6vh;
	margin-top: 18vh;
	cursor: pointer;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	float: right;
}

.scroll_x_button_in_2{
	width: 90%;
	max-width: 50px;
	height: 6vh;
	margin-top: 18vh;
	cursor: pointer;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	float: left;
}

.scroll_x{
	width: 76%;
	max-width: 500px;
	height: 42vh;
	overflow-x: scroll;
	overflow-y: hidden;
	float: left;
	z-index: 1;
}

.scroll_x::-webkit-scrollbar {
    display: block;
}

.scroll_x_in{
	width: 100%;
	height: 42vh;
	float: left;
}

.scroll_x_in2{
	width: 100%;
	height: 42vh;
	margin-left: 100%;
	margin-top: -42vh;
	float: left;
}

.scroll_x_in3{
	width: 100%;
	height: 42vh;
	margin-left: 200%;
	margin-top: -42vh;
	float: left;
}

.scroll_x_in4{
	width: 100%;
	height: 42vh;
	margin-left: 300%;
	margin-top: -42vh;
	float: left;
}

.scroll_x_in5{
	width: 100%;
	height: 42vh;
	margin-left: 400%;
	margin-top: -42vh;
	float: left;
}

.scroll_x_in6{
	width: 100%;
	height: 42vh;
	margin-left: 500%;
	margin-top: -42vh;
	float: left;
}

.scroll_x_in7{
	width: 100%;
	height: 42vh;
	margin-left: 600%;
	margin-top: -42vh;
	float: left;
}

.scroll_x_in8{
	width: 100%;
	height: 42vh;
	margin-left: 700%;
	margin-top: -42vh;
	float: left;
}

.scroll_img{
	width: 100%;
	height: 100%;
}

.footer_bg{
	width: 100%;
	height: 80px;
	margin-top: 4vh;
	background-color: #6636cc;
	float: left;
	user-select: none;
}

.footer_in_div{
	width: 96%;
	height: 18px;
	margin-left: 2%;
	margin-bottom: 5px;
	margin-top: 2px;
	color: #bababa;
	text-align: center;
	float: left;
	font-size: 2vh;
}

.footer_in_div2{
	width: 96%;
	height: 45px;
	margin-left: 2%;
	color: white;
	float: left;
	text-align: center;
}

.footer_icons{
	width: 165px;
	height: 45px;
	text-align: center;
}

.footer_icons_a_1{
	width: 45px;
	height: 45px;
	margin-right: 10px;
	float: left;
	background-image: url('https://github-webtest.github.io/eminorganizasyon/images/facebook_icon.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.footer_icons_a_2{
	width: 45px;
	height: 45px;
	margin-right: 10px;
	float: left;
	background-image: url('https://github-webtest.github.io/eminorganizasyon/images/twitter_icon.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.footer_icons_a_3{
	width: 45px;
	height: 45px;
	margin-right: 10px;
	float: left;
	background-image: url('https://github-webtest.github.io/eminorganizasyon/images/instagram_icon.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

/* menu */

.container {
  display: inline-block;
  cursor: pointer;
  top: 3.2vh;
  right: 4%;
  position: absolute;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #fff;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.menu_svg_icons{
	width: 100%;
	height: 100%;
	fill: white;
}

.menu_svg_icons:hover{
	fill: #808080;
}

/* menu bar */

.menu_bar{
	width: 290px;
	height: 100vh;
	right: 0px;
	background-color: #6636cc;
	display: none;
	animation-name: menu_go;
	animation-duration: 0.8s;
	-webkit-animation-name: menu_go;
	-webkit-animation-duration: 0.8s;
	position: fixed;
	z-index: 998;
}

.menu_bar_href{
	text-decoration: none;
}

.menu_bar_in{
	width: 96%;
	margin-top: 12vh;
	margin-left: 2%;
	height: 88vh;
	float: left;
	z-index: 999;
}

.menu_header_f{
	width: 86%;
	margin-top: 2vh;
	height: 6vh;
	float: right;
	border-bottom: 1px solid rgba(0, 0, 0, 0.4);
	cursor: pointer;
}

.menu_header{
	width: 86%;
	height: 6vh;
	float: right;
	border-bottom: 1px solid rgba(0, 0, 0, 0.4);
	cursor: pointer;
}

.menu_header_in{
	width: 96%;
	margin-top: 1.75vh;
	margin-left: 2%;
	float: left;
	text-align: right;
	color: white;
	font-size: 2.5vh;
}

.menu_close_bg{
	width: 100%;
	height: 100vh;
	background-color: rgba(0,0,0,0.5);
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 990;
	display: none;
	animation: 0.8s go_close_bg;
	-webkit-animation: 0.8s go_close_bg;
}

.google_map{
	width: 90%;
	max-width: 620px;
	height: 50vh;
	margin-top: 4vh;
}
